<hr style="margin-bottom: 0.2em;">

<div style="font-size: 80%; margin: 0;">
  <div style="float: left;">
    <em>Page last built {{ site.time | date: "%Y-%m-%dT%H:%M:%S%z" }}</em>
  </div>
  <div style="float: right;">
    <a href="https://github.com/timparenti/tzdata-meta" target="_blank">tzdata-meta on GitHub</a>
  </div>
</div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VVJ3DWH6NS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VVJ3DWH6NS');
</script>

