<p>
The metadata compiled herewithin is secondary to the <code>tz</code> repository
and is derived from the <a href="https://lists.iana.org/hyperkitty/list/tz@iana.org/">archives of the <code>tz</code> discussion list</a>
as well as <a href="https://github.com/eggert/tz/commits/main">commits to the <code>tz</code> development repository</a>.

Metadata is limited to changes affecting UTC offsets
for current and/or future timestamps
at the time that notice is sent.

Pull requests will <strong>NOT</strong> be accepted for a given timezone change until
it has been proposed to the <code>tz</code> mailing list at <a href="mailto:tz@iana.org">tz@iana.org</a>,
discussed as necessary,
been committed to the <code>tz</code> development repository,
and (in general) released.
</p>
